p, div, body {
    height: auto;
    clear: both;
    margin: 0px;
    padding: 0px;

}
img {
    display: block;
}

.columns > div {
    float: left;
    clear: none;
}
.small-1 {
    width: 8.33%;
}
.small-2 {
    width: 16.66%;
}
.small-3 {
    width: 25%;
}
.small-4 {
    width: 33.33%;
}
.small-5 {
    width: 41.66%;
}
.small-6 {
    width: 50%;
}
.small-7 {
    width: 58.33%;
}
.small-8 {
    width: 66.66%;
}
.small-9 {
    width: 75%;
}
.small-10 {
    width: 83.33%;
}
.small-11 {
    width: 91.66%;
}
.small-12 {
    width: 100%;
}
.spacer {
    height: 1rem;
}
.left {
    float: left;
}
.right {
    float: right;
}
.animated {
    transition: 0.5s;
}
.rotated {
    transform: rotate(90deg);
}

.center {
    width: 100%;
    text-align: center;
}
.center > div {
    display: inline-block;
    text-align: left;
}
img.center {
    display: block;
    margin: 0 auto;
}
.hide {
    display: none;
}